{% extends 'base.html.twig' %}

{% block title %}افزودن دسته بندی{% endblock %}

{% block product_menu %}
    <li class="active">
        <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> محصولات<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
            <li>
                <a href="{{ path('product_new') }}">افزودن محصول</a>
            </li>
            <li>
                <a href="{{ path('product_index') }}">نمایش محصولات</a>
            </li>
            <li class="active">
                <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> دسته بندی<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a class="active" href="{{ path('category_new') }}">افزودن دسته بندی</a>
                    </li>
                    <li>
                        <a href="{{ path('category_index') }}">نمایش دسته بندی</a>
                    </li>
                </ul>
            </li>
        </ul>
        <!-- /.nav-second-level -->
    </li>
{% endblock %}

{% block container %}
    {{ form_start(form) }}
    <div class="row">
        {{ form_label(form.name, '', {'label_attr': {'class': 'col-md-2 col-sm-2 pull-right control-label text-left'} }) }}
        <div class="col-md-9 col-sm-9">
            {{ form_widget(form.name,{ 'attr' : {'class':'form-control'} }) }}
        </div>
    </div>
    <div class="row" style="margin-top: 10px">
        {{ form_label(form.extra, '', {'label_attr': {'class': 'col-md-2 col-sm-2 pull-right control-label text-left'} }) }}
        <div class="col-md-9 col-sm-9">
            {{ form_widget(form.extra) }}
        </div>
    </div>
    <div class="row" style="margin-top: 10px">
        {{ form_label(form.parent, '', {'label_attr': {'class': 'col-md-2 col-sm-2 pull-right control-label text-left'} }) }}
        <div class="col-md-9 col-sm-9">
            {{ form_widget(form.parent) }}
        </div>
    </div>
    <div class="row" style="margin-top: 10px">
        <div class="col-xs-12 text-center">
            <button class="btn btn-success" type="submit">Create</button>
        </div>
    </div>
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('category_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
